/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles (General Module, wrapping around the modules bellow)
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
}

/* Header styles (Main Module)
    (all the styles inside the < header > or < nav > tags)
*/


/* Content styles (Main Module)
    (all the styles inside the < sections > or < aside > tags)
*/


/* Footer styles (Main Module)
    (all the styles inside the < footer > tag)
*/


/*
Responsive styles
    @media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}


/* mobile first approach = (the website was built initialy for mobiles and it will be adapted for desktop)
This is the ideal way to built websites because it is much easier to adapt from a small screen and low computing power (mobiles) to a large screen and high computing power (desktops)
*/


/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    body {
        color: purple;
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }
}
*/